pyneuroml
pyelectro
git+https://github.com/NeuralEnsemble/neurotune.git

####  NEURON & NetPyNE
neuron==8.2.6

# Install specific version of NetPyNE
git+https://github.com/Neurosim-lab/netpyne.git@osbv2#egg=netpyne

####  Other simulators

# Arbor
### arbor==0.9.0  # problems on py 3.12??

# EDEN
eden-simulator==0.2.1

# Brian
brian2
brian2tools

# PyNN
pynn==0.10.1

# elephant
elephant

# LFPy
lfpy

####  Octave etc.
octave_kernel

####  NWB
pynwb
ipywidgets
seaborn
# nwbwidgets

####  Machine learning libs

# Note: this just installs pytorch for cpu, the default install adds a v large cuda lib
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0+cpu

# For MDF
modeci_mdf

scikit-learn # Required for some Neuromatch Academy material
#########fasttext # Required for some Neuromatch Academy material


####  TVB etc.
tvb-library
tvb-data
ipympl


####  SBML/COMBINE packages
python-libsbml
tellurium


####  General Python packages
plotly


#### Install OMV
OSBModelValidation==0.3.5


####  Final updates
numpy  # Removes some issues with LFPy...