annotated-types==0.7.0
anyio==4.6.2.post1
argo-workflows==5.0.0
async-property==0.2.2
attrs==24.2.0
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
clickclick==20.10.2
connexion==2.14.2
cryptography==43.0.3
debugpy==1.8.9
deprecation==2.1.0
durationpy==0.9
fairgraph==0.12.2
Flask==2.2.5
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.0.2
google-auth==2.36.0
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jwcrypto==1.5.6
kafka-python-ng==2.2.3
kubernetes==31.0.0
MarkupSafe==3.0.2
mypy==1.13.0
mypy-extensions==1.0.0
oauthlib==3.2.2
openalchemy==1.1.0
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
oyaml==1.0
packaging==24.2
pluggy==1.5.0
psutil==6.1.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pyhumps==3.8.0
PyJWT==2.10.0
pytest==8.3.3
python-dateutil==2.9.0.post0
python-keycloak==4.7.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.22.0
rpds-py==0.21.0
rsa==4.9
sentry-sdk==2.19.0
setuptools==75.4.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==1.4.54
swagger-ui-bundle==0.0.9
toml==0.10.2
types-toml==0.10.8.20240310
typing_extensions==4.12.2
urllib3==2.0.7
websocket-client==1.8.0
Werkzeug==2.2.3
