<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <title>Open Source Brain</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
</head>

<body>
    <div id="main"></div>
</body>

<script>
    window.APP_DOMAIN = "<%= APP_DOMAIN %>"
</script>
</html>