@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.login-pf body {
  background: url("../img/keycloak-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.login-pf-page {
  padding-top: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-pf-logo {
  background: url(../img/osb-logo.png) no-repeat;
  background-size: contain;
  width: 132px;
  height: 20px;
  cursor: pointer;
}

.login-pf-header {
  position: relative;
  z-index: 20;
  margin: 10px;
}

.login-register-link {
  display: flex;
}

.login-pf-page .login-pf-header {
  margin-bottom: 24px;
  margin-right: 0;
  margin-left: 0;
}

.login-pf-page .login-pf-header h1 {
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.32px;
  margin: 0;
}


.login-pf-page .has-error .form-control {
  border: 0;
  border-bottom: #eb5757 1px solid;
  box-shadow: none;
}

.form-group {
  margin-bottom: 12px;
}

.login-pf-page .form-control {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 7px 15px;
  color: #fff;
  height: auto;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.form-control:hover,
.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.custom-checkbox label {
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.32px;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 2.5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(103, 103, 103, 1);
  border-radius: 2px;
}

.custom-checkbox .checkmark:hover {
  border-color: #00BCD4 !important;
  background-color: rgba(0, 188, 212, 0.5) !important;
}
.custom-checkbox input:checked ~ .checkmark {
  background-color: #00BCD4;
  border-color: #00BCD4 !important;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 4px;
  width: 6px;
  height: 11px;
  border: solid #393f44;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.kc-form-button {
  display: flex;
  margin: 0;
  align-items: center;
}
.kc-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.kc-form-paragraph {
  margin: 10px 0 0;
}
.kc-form-paragraph p {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.16px;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

.kc-form-button a,
.kc-form-button a:hover {
  margin: 0 15px 0 0;
  outline: 0;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #00BCD4;
  text-transform: uppercase;
}
.alert {
  padding: 13px 12px 11px 40px;
  margin: 0 0 40px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 4px;
}
.alert-error {
  background: #fce7e7;
  color: #333333;
}
.alert-error .error-icon {
  color: #eb5757;
  font-size: 18px;
  background: url(../img/error.png) no-repeat;
  top: 14px;
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
}
.alert-error .kc-feedback-text {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #eb5757;
}
.alert-error .pficon.pficon-error-circle-o:before {
  content: "!";
  color: #fff;
}
#kc-locale ul {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  right: 0;
  top: 20px;
  min-width: 100px;
  padding: 2px 0;
  border: solid 1px #bbb;
}

#kc-locale:hover ul {
  display: block;
  margin: 0;
}

#kc-locale ul li a {
  display: block;
  padding: 5px 14px;
  color: #000 !important;
  text-decoration: none;
  line-height: 20px;
}

#kc-locale ul li a:hover {
  color: #4d5258;
  background-color: #d4edfa;
}

#kc-locale-dropdown a {
  color: #4d5258;
  background: 0 0;
  padding: 0 15px 0 0;
  font-weight: 300;
}

#kc-locale-dropdown a:hover {
  text-decoration: none;
}

a#kc-current-locale-link {
  display: block;
  padding: 0 5px;
}

a#kc-current-locale-link::after {
  content: "\2c5";
  margin-left: 4px;
}

.login-pf .container {
  padding-top: 40px;
}

#kc-logo-wrapper {
  background-image: url(../img/keycloak-logo-2.png);
  background-repeat: no-repeat;
  height: 63px;
  width: 300px;
  margin: 62px auto 0;
}

div.kc-logo-text {
  background-image: url(../img/keycloak-logo-text.png);
  background-repeat: no-repeat;
  height: 63px;
  width: 300px;
  margin: 0 auto;
}

div.kc-logo-text span {
  display: none;
}

#kc-header {
  color: #ededed;
  overflow: visible;
  white-space: nowrap;
  display: none;
}

#kc-header-wrapper {
  font-size: 29px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.2em;
  padding: 62px 10px 20px;
  white-space: normal;
}

#kc-content {
  width: 100%;
  position: relative;
  z-index: 20;
}

#kc-attempted-username {
  font-size: 20px;
  font-family: inherit;
  font-weight: normal;
  padding-right: 10px;
}

#kc-username {
  text-align: center;
}

#kc-webauthn-settings-form {
  padding-top: 8px;
}

#kc-info {
  padding-bottom: 200px;
  margin-bottom: -200px;
  display: none;
}

#kc-info-wrapper {
  font-size: 13px;
}

#kc-form-options span {
  display: block;
}

#kc-form-options .checkbox {
  color: #72767b;
  margin: 0;
}

#kc-terms-text {
  margin-bottom: 20px;
}

.login-pf-header span:last-child {
  margin: 0 0 0 11px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  text-decoration: underline;
}
.login-pf-header a,
.login-pf-header a:hover {
  text-decoration: none;
  font-weight: 400;
  color: inherit;
  outline: 0;
}

.login-pf-header span:hover {
  color: #fff;
}

.kc-register-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.kc-register-form .form-group {
  width: 50%;
  padding: 0 5px;
}
.kc-register-form .form-group:last-child {
  width: 100%;
}
/* TOTP */

.subtitle {
  text-align: right;
  margin-top: 30px;
  color: #909090;
}

.required {
  color: #cb2915;
}

ol#kc-totp-settings {
  margin: 0;
  padding-left: 20px;
}

ul#kc-totp-supported-apps {
  margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
  max-width: 150px;
  max-height: 150px;
}

#kc-totp-secret-key {
  background-color: #fff;
  color: #333333;
  font-size: 16px;
  padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
  margin-top: 0;
}

#kc-oauth ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#kc-oauth ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
  border-top: 0;
}

#kc-oauth .kc-role {
  display: inline-block;
  width: 50%;
}

/* Code */

#kc-code textarea {
  width: 100%;
  height: 8em;
}

/* Social */

#kc-social-providers ul {
  padding: 0;
}

#kc-social-providers li {
  display: block;
}

#kc-social-providers li:first-of-type {
  margin-top: 0;
}

.kc-login-tooltip {
  position: relative;
  display: inline-block;
}

.kc-login-tooltip .kc-tooltip-text {
  top: -3px;
  left: 160%;
  background-color: black;
  visibility: hidden;
  color: #fff;
  min-width: 130px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  padding: 5px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

/* Show tooltip */

.kc-login-tooltip:hover .kc-tooltip-text {
  visibility: visible;
  opacity: 0.7;
}

/* Arrow for tooltip */

.kc-login-tooltip .kc-tooltip-text::after {
  content: " ";
  position: absolute;
  top: 15px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.zocial,
a.zocial {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  text-shadow: none;
  border: 0;
  color: #fff;
  border-radius: 0;
}

.zocial:before {
  border-right: 0;
  margin-right: 0;
  float: initial;
  box-shadow: none;
}

.zocial span:before {
  padding: 7px 10px;
  font-size: 14px;
}

.zocial:hover {
  background: #ededed !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
  background-image: none;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */

.zocial.microsoft:before {
  content: "\f15d";
}

.zocial.stackoverflow:before {
  color: inherit;
}

.login-pf-page .login-pf-social-section {
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  #kc-container-wrapper {
    position: absolute;
    width: 100%;
  }
  .login-pf .container {
    padding-right: 80px;
  }
  .login-pf-page .login-pf-social-section:last-of-type {
    border-left: 0
  }
  #kc-locale {
    position: relative;
    text-align: right;
    z-index: 9999;
  }
}

@media (max-width: 767px) {
  #kc-header {
    padding-left: 15px;
    padding-right: 15px;
    float: none;
    text-align: left;
  }
  #kc-header-wrapper {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 60px 0 0;
    color: #72767b;
    letter-spacing: 0;
  }
  div.kc-logo-text {
    margin: 0;
    width: 150px;
    height: 32px;
    background-size: 100%;
  }

  #kc-info-wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 15px;
  }
  #kc-social-providers li {
    display: block;
    margin-right: 5px;
  }
  .login-pf .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #kc-locale {
    position: absolute;
    width: 200px;
    top: 20px;
    right: 20px;
    text-align: right;
    z-index: 9999;
  }
  #kc-logo-wrapper {
    background-size: 100px 21px;
    height: 21px;
    width: 100px;
    margin: 20px 0 0 20px;
  }
}

@media (min-height: 646px) {
  #kc-container-wrapper {
    bottom: 12%;
  }
}

@media (max-height: 645px) {
  #kc-container-wrapper {
    padding-top: 50px;
    top: 20%;
  }
}

.card-pf form.form-actions .btn {
  float: right;
  margin-left: 10px;
}

.login-pf-page .login-pf-brand {
  margin-top: 20px;
  max-width: 360px;
  width: 40%;
}

.card-pf {
  margin: 0 auto;
  padding: 0 20px;
  width: 580px;
  border-top: 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
}

.card-pf:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

/*tablet*/

@media (max-width: 840px) {
  .login-pf-page .card-pf {
    max-width: none;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 20px 30px 20px;
  }
}

@media (max-width: 767px) {
  .login-pf-page .card-pf {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }
  .card-pf.login-pf-accounts {
    max-width: none;
  }
}

.login-pf-page .login-pf-signup {
  font-size: 15px;
  color: #72767b;
}

#kc-content-wrapper .row {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .login-pf-page .login-pf-social-section:first-of-type {
    padding-right: 0;
  }
  .login-pf-page .login-pf-social-section:last-of-type {
    padding-left: 0px;
  }
  .login-pf-page .login-pf-social-section .login-pf-social-link:last-of-type {
    margin-bottom: 0;
  }
}

.login-pf-page .login-pf-social-link {
  margin-bottom: 12px;
  height: 38px
}

.login-pf-page .login-pf-social-link a {
  padding: 2px 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  color: #fff;
  box-shadow: none;
  font-weight: 400;
  font-size: 12px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-pf-page .login-pf-social-link a:hover {
  background: rgba(255, 255, 255, 0.3);
}

.login-pf-page.login-pf-page-accounts {
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page .btn-primary {
  margin-top: 0;
  outline: 0;
  text-transform: uppercase;
  border-radius: 2px;
  margin-left: auto;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  height: 28px;
  padding: 8px 16px;
  background: #00BCD4;
  border: 0
}

.login-pf-page .btn-primary:active:focus, .login-pf-page .btn-primary:hover {
  background: #339DB8;
  outline: 0;
}

.login-pf-page .list-view-pf .list-group-item {
  border-bottom: 1px solid #ededed;
}

.login-pf-page .list-view-pf-description {
  width: 100%;
}

.login-pf-page .card-pf {
  margin-bottom: 10px;
  padding: 24px;
}

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
  margin-bottom: 0px;
  /*margin-top: 12px;*/
}

#kc-back {
  margin-top: 5px;
}

form#kc-select-back-form div.login-pf-social-section {
  padding-left: 0px;
  border-left: 0px;
}

.login-pf-page .login-pf-settings {
  display: block;
  margin-top: 24px;
}
.login-pf-page .separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 24px 0;
  color: rgba(255, 255, 255, 0.5);
}

.login-pf-page .separator::before,
.login-pf-page .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.login-pf-page .separator:not(:empty)::before {
  margin-right: .25em;
}

.login-pf-page .separator:not(:empty)::after {
  margin-left: .25em;
}

.orcid-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url(../img/orcid.svg);
}

.fa {
  font-size: 20px;
  margin-right: 5px;
}

.register-footer {
  margin-top: 12px;
  justify-content: end;
}
