git+https://github.com/openworm/pygeppetto.git@c6347f1c624a705e9a2318a36e1d8dcf9d6d346f#egg=pygeppetto
git+https://github.com/openworm/org.geppetto.frontend.jupyter.git@1537f28573f730f7856fd396291cb138ad487d6c#egg=jupyter_geppetto
