harness:
  subdomain: www
  secured: false
  deployment:
    auto: true
    port: 80
  service:
    auto: true
    port: 80
  resources:
    - name: "keycloak"
      src: "keycloak.json"
      dst: "/usr/share/nginx/html/keycloak.json"
  sentry: true
  use_services:
    - name: workspaces
    - name: common
  dependencies:
    soft:
      - accounts
      - common
      - volumemanager
      - workspaces
      - workflows
      - netpyne
      - nwb-explorer
      - jupyterhub
      - jupyterlab
      - notifications
