harness:
  subdomain: hub
  secured: true
  service:
    auto: false
    port: 80
    name: proxy-public
  deployment:
    auto: false
  dependencies:
    build:
      - cloudharness-base
hub:
  config:
    JupyterHub:
      admin_access: true
      authenticator_class: ch
  extraConfig:
    timing: |
      c.Spawner.port = 8000
      c.Spawner.http_timeout = 300
      c.Spawner.start_timeout = 300
      c.JupyterHub.tornado_settings = { "headers": { "Content-Security-Policy": "frame-ancestors 'self' localhost localhost:3000 *.osb.local *.opensourcebrain.org *.v2.opensourcebrain.org"}}
    spawner: >-
      c.Spawner.args = []
singleuser:
  storage:
    type: dynamic
    capacity: 2Mi
    dynamic:
      pvcNameTemplate: osb-user-{userid}
      volumeNameTemplate: osb-user-{userid}
    homeMountPath: /opt/user
    extraLabels: {}
  cpu:
    limit: 1
    guarantee: 0.2
  memory:
    limit: 1G
    guarantee: 0.5G